<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="output.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body class="bg-slate-900 text-slate-200">
    <div class="flex justify-center">
        <div class="text-justify text-base max-w-prose space-y-4">
          {{{ note.contents }}}
        </div>
    </div>
    </body>
</html>
